@model cloudscribe.Blog.Web.ViewModels.PostListViewModel

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = Model.BlogSettings.Title;
}

<h2>@ViewData["Title"].</h2>

This is the index view