@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    
    <div class="col-md-6">
        <header class="jumbotron">
            <h2 class="">Welcome to Darkly Industries</h2>
        </header>
            
            <p>
                
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus, libero eget feugiat consectetur, risus nunc varius arcu, rutrum bibendum ex lectus ac mauris. Vivamus non tortor at metus mollis congue quis sed nunc. Maecenas lacinia sagittis rhoncus. Proin eros tortor, ultricies vitae neque at, rhoncus feugiat ipsum. Nunc commodo ullamcorper posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean consectetur, lorem ac porta porttitor, turpis turpis faucibus lectus, ac auctor massa ligula sit amet libero. Aenean lobortis viverra diam. Sed id venenatis nulla. Sed sodales volutpat volutpat. Phasellus accumsan ut velit non consequat. Mauris commodo, nibh at consequat euismod, orci augue euismod metus, ac maximus mauris tellus sed lectus. Aliquam ultrices porta turpis, ac porta augue congue maximus. Nam dignissim fermentum arcu in posuere. Quisque quis malesuada justo. Nam scelerisque, magna et feugiat tincidunt, lacus orci porta libero, quis mollis dolor augue id diam.

                Vivamus ultricies consequat erat, ac luctus dolor fermentum sed. Fusce quis lacus eget risus tempus interdum et luctus odio. Mauris sed pharetra dolor, id feugiat arcu. Phasellus nibh turpis, vehicula in lorem in, porttitor vulputate justo. Integer sit amet libero elit. Vivamus elit enim, congue at blandit ut, tempus tristique ipsum. Phasellus aliquam libero ac odio elementum, a porttitor orci tincidunt. Curabitur nec commodo ex. Pellentesque mauris elit, pellentesque nec elementum eget, molestie a sem. In hac habitasse platea dictumst.

                Vivamus at neque euismod, interdum odio vel, hendrerit justo. Donec efficitur sagittis enim, a cursus libero mattis vel. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus iaculis nunc eu ornare tincidunt. Cras ligula sem, viverra ut neque at, blandit commodo risus. Fusce malesuada efficitur elit vel imperdiet. Integer dignissim nisl in urna varius, in porttitor nisi luctus.

                Ut rutrum, lorem at accumsan vehicula, arcu justo dictum ipsum, a placerat augue urna at ante. Nunc ac finibus erat. Ut fermentum, justo et pharetra faucibus, odio orci aliquam dui, vitae fermentum purus ante eget dui. Curabitur iaculis, mi nec dictum semper, est lectus lobortis orci, eu luctus purus tellus at metus. Aenean id placerat orci. Quisque vitae justo viverra, varius urna viverra, ullamcorper ipsum. Nullam bibendum molestie viverra. Nulla facilisi. Ut venenatis ante vel risus euismod, id convallis erat condimentum. Quisque id metus sollicitudin, tincidunt tortor eu, auctor ligula. In a felis dui. Nunc quis sem ut tortor condimentum ultrices. Proin sagittis blandit velit sit amet imperdiet. Praesent suscipit libero laoreet porttitor fringilla. Sed a iaculis purus.

                Donec non magna in augue accumsan lobortis. Quisque convallis lorem ut massa accumsan cursus. Aenean consectetur eleifend porta. Pellentesque ac convallis ante. Quisque enim odio, lobortis a posuere in, blandit ac arcu. Integer et congue tellus, vitae placerat velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi tincidunt est molestie, fringilla eros ac, vestibulum mi. Maecenas pharetra diam aliquam purus commodo, lacinia lacinia erat blandit. Donec sed luctus dui, sed dignissim diam.
            </p>
</div>
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core</li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518007">Gulp</a> and <a href="http://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        
    </div>
    
</div>
